<html>
  <head>
    <title> Flask project </title>
  </head>
  <body>
     <h1>User Management Using Python Flask & MYSQL </h1>
	 
	 <p><a href="{{url_for('addUsers')}}">Add Users</a></p>
	 <table>
	      <tr>
		   <th>ID</th>
		   <th>NAME</th>
		   <th>AGE</th>
		   <th>CITY</th>
		   <th>EDIT</th>
		   <th>DELETE</th>
		  </tr>
		  {% for x in datas %}
		     <tr>
			    <td>{{x.ID}}</td>
				<td>{{x.NAME}}</td>
				<td>{{x.AGE}}</td>
				<td>{{x.CITY}}</td>
				<td><a href="{{url_for('editUser',id=x.ID)}}">Edit</a></td>
				<td><a href="">Delete</td>
				
		  {% endfor %}
		  
		  
		  
	 </table>
	</body>
  


</html>